<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/login-header.css" rel="stylesheet">

</head>
<body>
<!--navigation-->
<nav class = "navbar">
    <div class="navbar_logo">
        <a href="/main">Resell To Heaven</a>
    </div>
<!--    <ul class="member-login">-->
<!--        <li><a href="/login/login">로그인</a></li>-->
<!--    </ul>-->
</nav>