<title>RTH 지원하기</title>

<link href="/css/job/job.css" rel="stylesheet">

<div class="title">
    <h1>Resell To Heaven 정규직 채용</h1>
</div>

<div class="parent">
    <div class="first">
        <p><strong>경력</strong> 경력 무관</p>
        <p><strong>학력</strong> 대졸(2,3년제) 이상</p>
        <p><strong>근무형태</strong> 정규직</p>
    </div>
    <div class="second">
        <p><strong>급여</strong> 면접 후 결정</p>
        <p><strong>근무일시</strong> 주 5일(월~금) 09:00~18:00</p>
        <p><strong>근무지역</strong> 경기 양주시....</p>
    </div>
</div>

<div class="child1">
    <div class="detailContent">
        <img src="/image/logo-image.png" height="300px"><br>
        <span id="howContent"><strong>전형절차<br><br></strong></span>
        <strong>step1. </strong>
        서류 전형 (채용담당자 이메일로 서류 접수)<br>
        🔽<br>
        <strong>step2. </strong>
        1차 면접<br>
        🔽<br>
        <strong>step3. </strong>
        2차 면접<br><br>
        <span id="hirename"><strong>채용담당자 김냥발</strong></span>
        <p id="hiremail">💌rthnyang@gmail.com<p>
    </div>
</div>