{{>layouts/header}}

<link href="/css/buy/show.css" rel="stylesheet">

<div id="WritingBox">
    {{#buy}}
        <div class="titleBox">
            {{title}}
        </div>
        <br><hr><br>
        <div class="contentBox">
            {{content}}
        </div>
        <br><hr><br>
        <div class="priceBox">
            {{price}}원
        </div>
    {{/buy}}
    <button id="ListBtn" onclick="location.href='/buy'">목록으로 돌아가기</button>
</div>