{{>layouts/header}}

<title>About RTH|RTH</title>
<link rel="stylesheet" href="/css/about/about.css">

<div class="aboutMain">
    <img src="/image/logo-image.png" height="300px">
    <hr>

    <div class="about-title" id="about-title">
        <h1>Resell To Heaven을 소개합니다.</h1>
    </div>
    <div>
        <p>행복한 덕질을 위해 만들어낸 웹 사이트입니다.<br>마무리말은 ... G열 13번 내 앞으로. 감사합니다.</p>
        <hr>
        <b>문의사항은 오픈채팅</b>
        <br><br>
        <a href="https://open.kakao.com/o/sPn28fKf"><img src="/image/kakao-logo.png" height="60px"></a>
    </div>
</div>